*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
img{
    width: 35px;
}
header{
    height: 100px;
    
}
.container-fluid{
    height: 60px;
    background-color: #0f1111;
    color: whitesmoke;
    font-size: 15px;  
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    color: 2px solid white;
}
.bold{
    font-weight: 700;
}
input{
    width: 500px;
    height: 35px;
}
#dropdown{
    width: 200px;
    height: 35px;
    background-color: #c4c2c2;
    border-radius: 3px 0 0 3px;
}
.select{
    display: flex;
}
.magglass{
    width: 50px;
    height: 35px;
    background-color: orange;
    border-radius: 0 3px 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    line-height: 0px;
    font-size: 15px;
}
.fa-cart-shopping{
    font-size: 30px;
}

.menubar{
    height: 40px;
    background-color: #0f1122;
} ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    margin-left: -30px;

}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
}

.fa-bars{
    color: white;
}
/* -----------3rd---------- */
.contaner1{
    display: flex;
}

/* -----------4rth---------- */

.signin{
    background-color: yellow;
    width: 200px;
    border-radius: 30px;
    text-align: center;
}
.signin:hover{
    background-color: rgb(233, 157, 42);
}

#ftop{

    background-color: navy;
    color: white;
    text-align: center;
}
/* ---------------footer------------------ */

.col-3, a, h6{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
}